checkensemble-eps-converted-to.pdf
*-eps-converted-to.pdf
acs-rigid_bodies.bib
rigid_bodies.aux
rigid_bodies.bbl
rigid_bodies.blg
rigid_bodies.log
rigid_bodiesNotes.bib
rigid_bodies.pdf
rigid_bodies.synctex.gz

